/* font import */
/* caudex */
@font-face {
    font-family: caudex-reg;
    src: url("../font/Caudex/Caudex-Regular.ttf");
}
@font-face{
    font-family: caudex-bold;
    src: url("../font/Caudex/Caudex-Bold.ttf")
}
/* titillium-web */
@font-face{
    font-family: tw-reg;
    src: url("../font/TitilliumWeb/TitilliumWeb-Regular.ttf")
}
@font-face{
    font-family: tw-bold;
    src: url("../font/TitilliumWeb/TitilliumWeb-Bold.ttf")
}
/* CinzelDecorative */
@font-face{
    font-family: cd-reg;
    src: url("../font/CinzelDecorative/CinzelDecorative-Regular.ttf")
}
@font-face{
    font-family: cd-bold;
    src: url("../font/CinzelDecorative/CinzelDecorative-Bold.ttf")
}
@font-face{
    font-family: cd-black;
    src: url("../font/CinzelDecorative/CinzelDecorative-Black.ttf")
}
body{  
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: black;
}
/* Navbar */
.nav{
    display: inline-block;
    z-index: 9999;
    left: 0;
    overflow: hidden;
    background: rgba(0,0,0,0.9);
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
}
.navbar-brand{
    width: auto;
    /* display: inline-block; */
    float: left;
    margin-left: 10em;
}
.navbar-brand-logo{
    width: 180px;
}
.navbar-menu{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10em;
    /* display: inline-block; */
    float: right;
}
.navbar-head{
    font-family: tw-reg;
    font-size: 1em;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: white;
    border-radius: 1px;
}
.navbar-dropdown {
    position: relative;
    display: inline-block;
    z-index: 9999;
}

.navbar-dropdown > .navbar-dropdown-header {
    color: white;
    text-decoration: none;
}

.navbar-dropdown-content {
    position: fixed;
    display: none;
    z-index: 9999;
    margin-top: 10px;
}
.navbar-dropdown-content > a {
    width: 90%;
    text-decoration: none;
    color: white;
    background: rgba(0,0,0,0.9);
    padding: 10px;
    display: block;
}
.navbar-dropdown-content > a:hover {
    color: rgba(0,0,0,0.9);
    background-color: white;
}
.navbar-head:hover, .navbar-dropdown-header:hover{
    background-color: white;
    color: black;
}
.navbar-dropdown:hover .navbar-dropdown-content {
    display: block;
}
.navbar-dropdown:hover .navbar-dropdown-header{
    background-color: white;
    color: black;
}
.navbar-highlight{
    color: gold;
    border-radius: 1px;
    font-weight: 700;
    background-image: linear-gradient(orange,red);
}
.navbar-highlight:hover{
    color: yellow;
}
/* Header */

/* Content */
.content{
    padding-top: 5.5em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-title{
    padding-top: .5em;
    font-size: 2.5em;
    font-family: cd-bold;
    color: gold;
}
#form1{
    margin-top: 1em;
    color: white;
    font-family: tw-reg;
}
#form1 > label{
    color: white;
    font-family: tw-reg;
    font-size: 1.1em;
}
input{
    font-size: 1em;
    font-family: tw-reg;
    outline: none;
    padding-left: 7px;
    padding-right: 7px;
    height: 25px;
    color: rgba(42,42,42);
    width: 100%;
    border: 2px solid rgba(192,192,192);
    background-color: rgba(230,230,230);
    margin-bottom: 1em;
}
.margin-top-0{
    margin-top: 0.7em;
}
.margin-bottom-1em{
    margin-bottom: 1em;
}
input:focus{
    border: 2px solid goldenrod;
}
input[type=text],input[type=password],input[type=date]{
    height: 30px;
}
input[type=radio],input[type=checkbox]{
    width: auto;
}
input[type=radio]{
    background-color: red;
}
.user-agreement{
    color: white;
}
#btnSubmit{
    font-family: tw-bold;
    font-size: 1.2em;
    width: 100%;
    border: 3px solid rgb(202, 155, 36);
    height: 40px;
    background-color: goldenrod;
}
#btnSubmit:hover{
    cursor: pointer;
    border: 3px solid rgb(250, 181, 8);
    background-color: gold;
}
/* footer */
.footer{
    margin-top: 5.5em;
    border-top: 1px solid rgb(70,70,70);
    padding-top: 1.2em;
    font-family: tw-reg;
    color:white;
    padding-bottom: 1.5em;
}
.footer-top{
    font-family: tw-reg;
    color:white;
    width: 100%;
    display: inline-grid;
    grid-template-columns: 12% 25% 25% 25% 12%;
    justify-items: center;
}
.footer-title{
    font-size: 17px;
}
.footer-text{
    text-decoration: none;
    color: white;
    font-size: 13px;
}
.footer-brand-logo{
    width: 170px;
}
.footer-sitemap > .footer-title{
    margin-bottom: 2.5em;
}
.footer-preregister > .footer-title{
    margin-bottom: 3.2em;
}
.footer-preregister-button{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    color: gold;
    padding: 0.6em 2em 0.7em 2em;
    font-size: 1.1em;
    border-radius: 5px;
    border: 1px solid rgb(220,98,25);
}
.footer-preregister-button:hover{
    color: yellow;
}
.footer-copyright{
    font-size: 13px;
    margin-top: 1em;
    text-align: center;
}

@media only screen and (max-width: 535px){
    .nav{
        display: inline-block;
        z-index: 9999;
        left: 0;
        overflow: hidden;
        background: rgba(0,0,0,0.9);
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
    }
    .navbar-brand{
        width: auto;
        /* display: inline-block; */
        float: left;
        margin-left: 1.5em;
        margin-top: .5em;
    }
    .navbar-brand-logo{
        width: 100px;
    }
    .navbar-menu{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 1.5em;
        /* display: inline-block; */
        float: right;
    }
    .navbar-head{
        font-family: tw-reg;
        font-size: .7em;
        padding-top: 4px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 4px;
        text-decoration: none;
        color: white;
        border-radius: 1px;
    }
    .form-title{
        padding-top: .1em;
        font-size: 1.8em;
        font-family: cd-bold;
        color: gold;
    }
    #form1{
        margin-top: 2em;
        color: white;
        font-family: tw-reg;
    }
    #form1 > label{
        color: white;
        font-family: tw-reg;
        font-size: .9em;
    }
    input{
        font-size: .9em;
        font-family: tw-reg;
        outline: none;
        padding-left: 7px;
        padding-right: 5px;
        height: 22px;
        color: rgba(42,42,42);
        width: 100%;
        border: 2px solid rgba(192,192,192);
        background-color: rgba(230,230,230);
        margin-bottom: 1em;
    }
    input[type=text],input[type=password],input[type=date]{
        height: 25px;
    }
    .user-agreement{
        color: white;
    }
    #btnSubmit{
        font-family: tw-bold;
        font-size: 1em;
        width: 100%;
        border: 5px solid rgb(202, 155, 36);
        height: 40px;
        background-color: goldenrod;
    }
    /* footer */
    .footer{
        margin-top: 1.8em;
        border-top: 1px solid rgb(70,70,70);
        padding-top: 1.2em;
        font-family: tw-reg;
        color:white;
        padding-bottom: 1.5em;
    }
    .footer-top{
        font-family: tw-reg;
        color:white;
        width: 100%;
        display: inline-grid;
        grid-template-columns: 12% 25% 25% 25% 12%;
        justify-items: center;
    }
    .footer-title{
        font-size: 10px;
    }
    .footer-text{
        text-decoration: none;
        color: white;
        font-size: 9px;
    }
    .footer-brand-logo{
        width: 100px;
    }
    .footer-sitemap > .footer-title{
        margin-bottom: 2.5em;
    }
    .footer-preregister > .footer-title{
        margin-bottom: 3.2em;
    }
    .footer-preregister-button{
        text-decoration: none;
        background-image: linear-gradient(orange,red);
        color: gold;
        padding: 0.6em 2em 0.7em 2em;
        font-size: .6em;
        border-radius: 5px;
        border: 1px solid rgb(220,98,25);
    }
    .footer-copyright{
        font-size: 11px;
        margin-top: 1em;
        text-align: center;
    }


}